@use "../_config";

header, .header {
  position: relative;
  height: config.get_misc(top-bar-height);
  width: 100%;
  background: linear-gradient(to bottom, config.get_palette(bg), config.get_palette(bg-partially-opaque) 90%);

  &__container {
    height:100%;
    align-items: center;
  }

  &__content-container {
    width: 100%;
  }

  &__subContent {
    margin-top: 6rem;
    font-size: 1.6rem;
  }
}

@media (max-height: 1100px) {
  .header__subContent {
    margin-top: 3rem;
  }
}