@use "../_config";

header, .header {
  position: relative;
  height: config.get_misc(top-bar-height);
  width: 100%;
  background-color:config.get_palette(bg);

  &__container {
    height:100%;
    align-items: center;
  }

  &__content-container {
    width: 100%;
  }

  &__subContent {
    margin-top: 6rem;
  }
}

@media (max-height: 1100px) {
  .header__subContent {
    margin-top: 3rem;
  }
}